.container_e {
    display: grid;
    grid-template-columns: 1.5fr 4fr 0.01fr 4fr 1.5fr;
    grid-template-rows:
        0.6fr 0.5fr 0.5fr 1.2fr repeat(24, 1.2fr);

    grid-template-areas:
        "home h_performance h_performance h_performance ."
        ". title_e title_e title_e ."
        ". title_e title_e title_e ."
        ". . . . ."
        ". text1 timeline date1 ."
        ". text2 timeline date2 ."
        ". text3 timeline date3 ."
        ". text4 timeline date4 ."
        ". text5 timeline date5 ."
        ". text6 timeline date6 ."
        ". text7 timeline date7 ."
        ". text8 timeline date8 ."
        ". text9 timeline date9 ."
        ". text10 timeline date10 ."
        ". text11 timeline date11 ."
        ". text12 timeline date12 ."
        ". text13 timeline date13 ."
        ". text14 timeline date14 ."
        ". text15 timeline date15 ."
        ". text16 timeline date16 ."
        ". text17 timeline date17 ."
        ". text18 timeline date18 ."
        ". text19 timeline date19 ."
        ". text20 timeline date20 ."
        ". text21 timeline date21 ."
        ". text22 timeline date22 ."
        ". text23 timeline date23 ."
        ". text24 timeline date24 ."
}


.title_e {
    grid-area: title_e;
    font-family: "Gravitas One", serif;
    justify-self: center;
    align-self: center;
    font-size: 45px;
}

.home{
    cursor: pointer;
    font-size: 10;
    font-family: "Gravitas One", serif;
    grid-area: home;
    justify-self: center;
    align-self: center;
    color: rgba(0, 0, 0, 0.654);
}

.h_performance {
    grid-area: h_performance;
    text-align: center;
    margin-top: 30px;
}

.h_writing {
    margin-left: 20px;
    cursor: pointer;
}
.h_p{
    cursor: pointer;
}

.h_film {
    margin-left: 20px;
    cursor: pointer;
}

.h_else {
    margin-left: 20px;
    cursor: pointer;
}

.h_s_c {
    margin-left: 20px;
    cursor: pointer;
}

.date {
    grid-column: 2;
    align-self: center;
    justify-self: right;
    font-size: 20px;
    font-family: "Noto Serif SC", serif;
}

.text {
    grid-column: 4;
    font-size: 19px;
    align-self: center;
    font-family: "Noto Serif SC", serif;
}

.date1 {
    grid-area: date1;
}

.date2 {
    grid-area: date2;
}

.date3 {
    grid-area: date3;
}

.date4 {
    grid-area: date4;
}

.date5 {
    grid-area: date5;
}

.date6 {
    grid-area: date6;
}

.date7 {
    grid-area: date7;
}

.date8 {
    grid-area: date8;
}

.date9 {
    grid-area: date9;
}

.date10 {
    grid-area: date10;
}

.date11 {
    grid-area: date11;
}

.date12 {
    grid-area: date12;
}

.date13 {
    grid-area: date13;
}

.date14 {
    grid-area: date14;
}

.date15 {
    grid-area: date15;
}

.date16 {
    grid-area: date16;
}

.date17 {
    grid-area: date17;
}

.date18 {
    grid-area: date18;
}

.date19 {
    grid-area: date19;
}

.date20 {
    grid-area: date20;
}

.date21 {
    grid-area: date21;
}

.date22 {
    grid-area: date22;
}

.date23 {
    grid-area: date23;
}

.date24 {
    grid-area: date24;
}

.text1 {
    grid-area: text1;
}

.text2 {
    grid-area: text2;
}

.text3 {
    grid-area: text3;
}

.text4 {
    grid-area: text4;
}

.text5 {
    grid-area: text5;
}

.text6 {
    grid-area: text6;
}

.text7 {
    grid-area: text7;
}

.text8 {
    grid-area: text8;
}

.text9 {
    grid-area: text9;
}

.text10 {
    grid-area: text10;
}

.text11 {
    grid-area: text11;
}

.text12 {
    grid-area: text12;
}

.text13 {
    grid-area: text13;
}

.text14 {
    grid-area: text14;
}

.text15 {
    grid-area: text15;
}

.text16 {
    grid-area: text16;
}

.text17 {
    grid-area: text17;
}

.text18 {
    grid-area: text18;
}

.text19 {
    grid-area: text19;
}

.text20 {
    grid-area: text20;
}

.text21 {
    grid-area: text21;
}

.text22 {
    grid-area: text22;
}

.text23 {
    grid-area: text23;
}

.text24 {
    grid-area: text24;
}


body {
  background: linear-gradient(
    to left,
    #c3e5ff 0%,     /* strongest blue right edge */
    #c3e5ff 15%,    /* small blue section */
    #fffaf0 40%,    /* smooth fade */
    white 100%    /* warm white rest of page */
  );
  background-attachment: fixed;
}

a{
    text-decoration: none;   /* removes underline */
  color: black; 
}


.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}