.article-image {
    display: block;
    margin: 20px auto; 
    max-width: 100%;   
    height: 400px;     
}

.e_content{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows:
        auto;

    grid-template-areas:
        ". content-block .";
}

.content-block {
    grid-area: content-block;
    display: none;
    font-size: 16px;
    justify-self: center;
    align-self: center;
}

.content-block.active {
    display: block;
    justify-self: center;
    align-self: center;
}

