.container {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        ". h_performance h_performance ."
        ". . . ."
        "picture picture picture picture";
    gap: 0;
}

.h_performance {
    grid-area: h_performance;
    text-align: center;
    margin-top: 30px;
}

.h_p{
    cursor: pointer;
}
.h_writing {
    margin-left: 20px;
    cursor: pointer;
}

.h_film {
    margin-left: 20px;
    cursor: pointer;
}

.h_else {
    margin-left: 20px;
    cursor: pointer;
}

.h_s_c {
    margin-left: 20px;
}

.picture {
  grid-area: picture;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: grid;
  grid-template-areas:
    ". about ."
    ". contact .";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr auto auto 1fr;
}

.about {
    grid-area: about;
    text-align: center;
    margin-top: 20px;
}

.contact {
    grid-area: contact;
    text-align: center;
    margin-top: 20px;
}
