.container {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 0.6fr 0.7fr 0.5fr 0.5fr;
    grid-template-areas:
        ". h_performance h_performance ."
        ". . . ."
        "picture picture picture picture";
    gap: 0;
}

.h_performance {
    grid-area: h_performance;
    text-align: center;
    margin-top: 30px;
}

.h_p{
    cursor: pointer;
}
.h_writing {
    margin-left: 20px;
    cursor: pointer;
}

.h_film {
    margin-left: 20px;
    cursor: pointer;
}

.h_else {
    margin-left: 20px;
    cursor: pointer;
}

.h_s_c {
    margin-left: 20px;
}

.picture {
  grid-area: picture;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.about {
    grid-area: about;
    text-align: center;
    margin-top: 20px;
}

.contact {
    grid-area: contact;
    text-align: center;
    margin-top: 20px;
}
