.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 0.6fr 0.7fr 0.5fr 0.5fr;
    grid-template-areas:
        ". h_performance h_performance ."
        ". . . ."
        "picture picture picture picture";
    gap: 0;
}

.h_performance {
    grid-area: h_performance;
    text-align: center;
    margin-top: 30px;
}

.h_p{
    cursor: pointer;
}
.h_writing {
    margin-left: 20px;
    cursor: pointer;
}

.h_film {
    margin-left: 20px;
    cursor: pointer;
}

.h_else {
    margin-left: 20px;
    cursor: pointer;
}

.h_s_c {
    margin-left: 20px;
}

.picture {
    grid-area: picture;
    background-image: url("background_a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". about . ."
    ". contact . .";
}


.about {
    grid-area: about;
    align-self: center;
    justify-self: center;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.contact {
    grid-area: contact;
    text-align: center;
    color:aliceblue;
}
